<!-- Login screen, username and password input -->

<form ng-show="!loged" name="userForm">
    <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Enter username" name="username"
             ng-model="username" required>
            <span style="color:red" ng-show="userForm.username.$dirty && userForm.username.$invalid">
                <span ng-show="userForm.username.$error.required">username is required.</span>
            </span>
    </div>

    <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password" 
            ng-model="password" required>  
            <span style="color:red" ng-show="userForm.password.$dirty && userForm.password.$invalid">
                <span ng-show="userForm.password.$error.required">Password is required.</span>
            </span>
    </div>

<button class="btn btn-primary" type="button" ng-click="login()" ng-disabled="userForm.$invalid">OK</button>
</form>
<button ng-show="loged" class="btn btn-primary" type="button" ng-click="logout()">Logout</button>
<hr>
<div ng-if="error" class="alert alert-danger">{{error}}</div>